@use "./Global.scss";

.search__wraper {
    margin-bottom: 2rem;

    .searchbar {
        width: 20%;
        margin: 0;
        margin-right: 2rem;
        border-radius: 2rem;
        border: none;
        padding: 0.5rem;
        padding-left: 1rem;
        background: white;        
        box-shadow: 3px 3px 6px Global.$shadow;
        color: Global.$txt-main;        
        font-size: 1rem;
        font-weight: 300;
        height: 2rem;   

        &:focus {
          outline-color: #FF9D00;
          outline-style:dashed;  
          outline-width: 0.2rem;    
          outline-offset: 0.3rem;  
        }

        &::placeholder {
            color: Global.$txt-grey;
        }
    } 

    .select {
        width: 15%;
        margin: 0;
        margin-right: 2rem;
        border-radius: 2rem;
        border: none;
        padding: 0.5rem;
        padding-left: 1rem;     
        background: white;        
        box-shadow: 3px 3px 6px Global.$shadow;
        color: Global.$txt-main;        
        font-size: 1rem;
        font-weight: 300;
        height: 3rem;   
    }

    .select:focus {
        outline-color: #FF9D00;
        outline-style:dashed;  
        outline-width: 0.2rem;    
        outline-offset: 0.3rem;
    }
}
   

.cards__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard__info {
    color: Global.$txt-main;
    font-size: 2.5rem;
    font-weight: bold;
}

.add__wraper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
    position:absolute;
    bottom:0;
    margin-bottom: 5rem;
    width:100%;    ;
}

.add__icon {
    display: flex;        
    align-items: center;     
    justify-content: center;               
    color: white;
    font-size: 3rem;
    margin-right:2rem;
    background: Global.$accept;
    padding: 0.4rem;
    border-radius: 100%;
    box-shadow: 3px 3px 6px Global.$shadow;

    &:hover {
        cursor: pointer;
        animation: shake 0.5s;
    }
}



@keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
}
