@use "./Global.scss";

footer {  
    background: Global.$main;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;    
    position:fixed;    
    bottom:0;
    width:100%;
    height: 2rem;
    border-top: 0.5rem solid Global.$darkblue;

    .footer__logo {
        width: 2.5rem;
        margin-left: 1rem;     
    }

    .footer__logo:hover {
        cursor: pointer;               
        animation: shake 0.5s;
    }

    .footer__iconcontainer {
        display: flex;        
        align-items: center;     
        justify-content: center;     
        margin-right: 2rem;     
        
        .footer__socialicon {    
            display: flex;        
            align-items: center;     
            justify-content: center;               
            color: Global.$txt-main;
            font-size: 1.5rem;
            margin-left:1rem;
            background-color: Global.$secondary;
            padding: 0.4rem;
            border-radius: 100%;
            box-shadow: 3px 3px 6px Global.$shadow;
        }
    
        .footer__socialicon:hover {       
            cursor: pointer;               
            animation: shake 0.5s;
        }
    }


    .footer__copy {
        font-weight: 400;
        color: white;
    }

    span {
        font-weight: bold;
    }
}


@keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
}
