
// Color palette

$main:linear-gradient(90deg, rgba(24,51,75,1) 0%, rgba(57,94,123,1) 100%);
$secondary: #d0dfeb;
$accept: linear-gradient(to right bottom, hsl(150, 71%, 73%), #86cc6d);
$error: #ff473d;
$txt-main: hsl(222, 20%, 35%);
$txt-grey: hsl(0, 0%, 66%);
$shadow: hsla(0, 0%, 0%, 0.16);
$back:linear-gradient(90deg, rgba(24,51,75,1) 0%, rgba(57,94,123,1) 100%);
$title: #3a3a3a;
$okey: #86cc6d;
$wrong: #ff473d;
$subtitle: #d0dfeb;
$lightblue: #328ce6;
$darkblue: #2c4e6b;

// Font
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $secondary;  
}






